/*------------------------------------------------------------*/
/* 	CSS style sheet for MenuPlanning  
/*	Copy right@ MenuPlanning 2011
/*	Design and created by MenuPlanning
/*	
/*	This Templete Design is using CSS3 technology
/*	along with jQuery specially for sidebar navigation
/*	The simplest thing it offers is that it is easy to
/*	modify and with little knowledge of CSS can make
/*	great enhancement in this templet.
/*	This templete is under GPL feel free to use it.
/* ---------------------------------------------------------*/


/* -------------- CSS for sub-pages ----------------------*/
#content-head-sub{
	display:block;
	background:#048BA0;
	font-weight:bold;
	color:#015287;
	text-transform: capitalize;
	float: right;
	margin-top: 27px;
	padding: 7px;
	height:auto;
	padding-left: 15px;
	width: 940px;
	-moz-border-radius-topright: 10px;
	-webkit-border-top-right-radius:10px;
	-moz-border-radius-topleft: 10px;
	-webkit-border-top-left-radius: 10px;
}

#content-head-sub h3{
	color:#FFFFFF;
	
}
#content-sub {
	
	
	padding: 8px 0px;
	float: right;
	width: 940px;
	margin-top: -4px;
	padding-left: 20px;
	border-left:1px solid #b2b2b2;
	border-bottom:1px solid #b2b2b2;
	border-right:1px solid #b2b2b2;
	-moz-border-radius-bottomleft: 10px;
	-moz-border-radius-bottomright: 10px;
	-webkit-border-bottom-left-radius:10px;
	-webkit-border-bottom-right-radius: 10px;
	-webkit-box-shadow: 3px 3px 30px  #888888;
	-moz-box-shadow: 3px 3px 30px #888888;
	
}
.contents-sub{
	
	text-align: justify;
	font-size: 12px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	margin:4em 2em 2em 2em;
	width: 660px;
	float: left;
	background: #048BA0 repeat-x scroll top right;
	-webkit-box-shadow:3px 3px 30px #888888; /*Safari shadow version*/
	-moz-box-shadow:3px 3px 30px #888888; /*Mozilla shadow version*/
	
	
}
.contents-sub-page{
	display: block;
	position: relative;
	text-align: justify;
	font-size: 12px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	margin:2em 2em 2em 2em;
	width: 620px;
	float: left;
	
	
	
}
.contents-table-sub{
	display: block;
	position: relative;
	text-align: justify;
	font-size: 12px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	margin:2em 2em 2em 2em;
	width: 600px;
	float: left;
	
	
	
}
.page-sub{
	display: block;
	background: url('../images/h_booking_bg.jpg') repeat-x scroll top right;
	position: relative;
	text-align: justify;
	border: 1px solid #AAA7A7;
	font-size: 12px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	margin:1em;
	width: 940px;
	margin-left: -15px;
	margin-right:0px;
	float: left;
	-moz-box-shadow: 3px 3px 30px #888888;
	-webkit-box-shadow: 3px 3px 30px #888888;
	
}
.page-sub-image{
	display:inline-block;
	position: absolute;
	border: 1px solid #AAA7A7;
	margin:0.5em 2em 1em 1em ;
	float: left;
	margin-left:0px;
	width: 200px;
	-moz-box-shadow: 3px 3px 30px #888888;
	clear:both;
}
.food-title-sub{
	display:block;
	margin-top:.2em;
	background:#048BA0;
	color:#ffffff;
	text-align:center;
}
.er-title-sub{
	display:block; width:600px;
	background: url('../images/h_booking_bg.jpg') repeat-x scroll bottom left;
	color:#ffffff;
	text-align:center;
}
img.erelation-sub{
	width:860px;
	margin-top:0px;
	float:left;
	-webkit-box-shadow:3px 3px 30px #888888; /*Safari shadow version*/
	-moz-box-shadow:3px 3px 30px #888888; /*Mozilla shadow version*/
	-webkit-transform:scale(.8); /*Webkit: Scale down image to 0.8x original size*/
	-moz-transform:scale(.8); /*Mozilla scale version*/
	-webkit-transition-duration: 0.5s; /*Webkit: Animation duration*/
	opacity: 1; /*initial opacity of images*/
	/*margin: 0 10px 5px 0; /*margin between images*/
}
.ercontents-sub{
	width:600px;
}
a:hover img.erelation-sub{
	margin-left:0px;
	position:relative;
	border: 0px solid  #CCCCCC;
	float:left;
	-webkit-transform:scale(1); /*Webkit: Scale up image to 1.2x original size*/
	-moz-transform:scale(1); /*Mozilla scale version*/
	-webkit-box-shadow:3px 3px 30px #888888; /*Safari shadow version*/
	-moz-box-shadow:3px 3px 30px #888888; /*Mozilla shadow version*/
	opacity: 1;
}
img.hovergallery-sub{
	display:inline-block;
	position: absolute;
	border: 1px solid #AAA7A7;
	margin:0.5em 2em 1em 1em ;
	margin-left:400px;
	width: 200px;
	border: 1px solid  #CCCCCC;
	margin-top: 0em;
	-webkit-box-shadow:3px 3px 30px #888888; /*Safari shadow version*/
	-moz-box-shadow:3px 3px 30px #888888; /*Mozilla shadow version*/
	-webkit-transform:scale(1); /*Webkit: Scale down image to 0.8x original size*/
	-moz-transform:scale(1); /*Mozilla scale version*/
	-webkit-transition-duration: 0.5s; /*Webkit: Animation duration*/
	opacity: 0.7; /*initial opacity of images*/
	/*margin: 0 10px 5px 0; /*margin between images*/
}
a:hover img.hovergallery-sub{
	margin-left:320px;
	border: 1px solid  #056D89;
	-webkit-transform:scale(1.8); /*Webkit: Scale up image to 1.2x original size*/
	-moz-transform:scale(1.8); /*Mozilla scale version*/
	-webkit-box-shadow:3px 3px 30px #888888; /*Safari shadow version*/
	-moz-box-shadow:3px 3px 30px #888888; /*Mozilla shadow version*/
	opacity: 1;
}

/* ----------------End of Sub Pages ----------------------*/