body {
    background: #E7E7E7;
    margin: 0;
    padding: 0;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 12px;
    /*color: #555;*/
}

* {
    margin: 0;
    padding: 0;
}


/** IMAGE Gallery **/

div.img {
    margin: 2px;
    border: 1px solid #CCCCCC;
    height: auto;
    width: auto;
    float: left;
    text-align: center;
}

div.img img {
    display: inline;
    margin: 3px;
    border: 1px solid #ffffff;
}

div.img a:hover img {
    border: 1px solid #0000ff;
}

div.desc {
    text-align: center;
    font-weight: normal;
    width: 120px;
    margin: 2px;
}


/* -------------------- */


/* low stock indication */

.low {
    color: red;
}


/* ------------------*/


/* Content style */

hr {
    border: 1px solid #dddddd;
    margin-bottom: 2em;
}

.contents {
    text-align: justify;
    font-size: 14px;
    font-family: Verdana, Arial, Helvetica, sans-serif;
}

contents img:nth-child {
    width: 30%
}


/* ------------------------ */


/* comment area css  */

.posted {
    text-align: right;
    clear: both;
    margin-bottom: 0;
    margin-top: 1em;
}

.posted a {
    text-align: right;
    margin-right: .5em;
    color: #196B6B;
    text-decoration: underline;
    clear: both;
}

.posted a:hover {
    display: block;
    color: #BF0D22;
    text-decoration: none;
}

.reviews {
    display: block;
    border: 0px solid #dddddd;
    background: #dddddd;
    color: #D3600E;
    text-indent: 1em;
    vertical-align: text-top;
    line-height: 34px;
}

.title {
    display: block;
    text-align: center;
    color: #F7FCFC;
    background: #2783C0 url('../images/headerbg.jpg') repeat-x scroll bottom left;
    clear: both;
}

.star-rate {
    background: transparent;
    color: #C91616;
}

.comments {
    display: block;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 1.2em;
    border: 1px solid #F7F2F2;
    border-color: #dddddd;
    margin: 0 0 1em;
    text-align: justify;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    clear: both;
}

.comments ul li {
    list-style-type: none;
    position: relative;
    display: inline-block;
    float: left;
    margin-right: 1em;
    margin-top: 1em;
    margin-left: 1em;
    width: 300px;
}

.clear {
    clear: both;
}

.comments ul li h3 {
    color: #1C5A83;
    font-size: 14px;
    font-weight: bold;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    margin-bottom: 5px;
}

.cont {
    vertical-align: text-top;
    margin: 1em 0 0 1em;
    font-weight: normal;
    color: #6969CE;
}


/* ------------------------ */


/** element defaults **/

table {
    width: 100%;
    text-align: left;
    border: 0px;
    border-collapse: collapse;
    /*line-height:1em;*/
}

th,
td {
    padding: 1ex 0.5ex 1ex 0.5ex;
    font-size: 12px;
}

th {
    color: #fff;
    background: #2783C0 url('../images/headerbg.jpg') repeat-x scroll bottom left;
}

td {
    background: #ddd;
    border-bottom: none #fff;
}

tr.clchang {
    background-color: blue;
}

code,
blockquote {
    display: block;
    border-left: 5px solid #ddd;
    padding: 0px;
    margin-bottom: 0px;
}

code {
    background-color: #ddd;
    border: none;
}

blockquote {
    border-left: 5px solid #2B84C0;
}

blockquote p {
    font-style: italic;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    margin: 0;
    color: #666;
    height: 1%;
}

p {
    line-height: 1.9em;
    margin-bottom: 20px;
}

a {
    color: #111;
}

a:hover {
    color: #1C5D87;
}

a:focus {
    outline: none;
}

fieldset {
    display: block;
    border: 1px solid;
    border-bottom: 1px solid;
}

fieldset legend {
    font-weight: bold;
    font-size: 13px;
}

fieldset {
    display: block;
    border: 1px solid #ddd;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}

fieldset legend {
    font-weight: bold;
    font-size: 13px;
    padding-right: 10px;
    color: #999;
}

fieldset form {
    padding-top: 15px;
    border: 1px solid;
}

fieldset p label {
    float: left;
    width: 150px;
}

.message {
    font-weight: bold;
    color: #0033FF;
}


/* some of form css */

form input,
form select,
form textarea {
    padding: 5px;
    color: #333333;
    border: 1px solid #ddd;
}

form input.formbutton {
    border: none;
    background: #2783C0 url('../images/headerbg.jpg') repeat-x scroll bottom left;
    color: #ffffff;
    font-weight: bold;
    padding: 6px 10px;
    font-size: 12px;
    font-family: Tahoma, Geneva, sans-serif;
    letter-spacing: 1px;
    width: auto;
    overflow: visible;
}

form.searchform p {
    margin: 5px 0;
}

form.searchform input.s {
    border: 1px solid #ccc;
}


/* -------------------------- */

span.required {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    color: #ff0000;
}

h1 {
    color: #999;
    font-weight: normal;
    font-size: 35px;
}

h2 {
    color: #292727;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-size: 26px;
    letter-spacing: 0.5px;
    font-weight: normal;
    padding: 0 0 5px;
    margin: 0;
}

h3 {
    color: #1C5A83;
    font-size: 18px;
    font-weight: bold;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    margin-bottom: 10px;
}

h4 {
    padding-bottom: 10px;
    font-size: 15px;
    color: #333333;
}

h5 {
    padding-bottom: 10px;
    font-size: 13px;
    color: #333333;
}

ul,
ol {
    margin: 0 0 0px 0px;
}

li {
    padding-bottom: 5px;
}

li ol,
li ul {
    font-size: 1.0em;
    margin-bottom: 0;
    padding-top: 5px;
}


/*  main body of page */

#container {
    width: 990px;
    margin: 0 auto;
    padding: 0;
    border: 1px solid #ccc;
}

#header {
    padding: 0;
    margin: 0 auto;
    height: 90px;
    background: #2783C0 url('../images/headerbg.jpg') repeat-x scroll top left;
}

#header h1 {
    padding-top: 17px;
    padding-left: 15px;
}

#header h1 a {
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
    font-size: 40px;
    font-weight: normal;
    text-decoration: none;
    letter-spacing: -2px;
    float: left;
}

#header h2 {
    color: #fff;
    float: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    margin-left: 12px;
    margin-top: 21px;
    padding-left: 4px;
    text-transform: uppercase;
    letter-spacing: 0;
}

#nav {
    background: #fff url('../images/navbg.jpg') repeat-x scroll top left;
    height: 41px;
    width: 990px;
}

#nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    height: 41px;
}

#nav ul li {
    float: left;
    display: block;
    padding: 0;
}

#nav ul li a {
    color: #555;
    display: block;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    font-weight: bold;
    padding: 15px 20px 12px;
    text-decoration: none;
    border-right: 1px solid #E0E0E0;
    float: left;
    text-transform: uppercase;
}

#nav ul li a:hover {
    text-decoration: none;
    background: #0C1114;
    color: #FBFCF7;
}

#body {
    background: #fff none repeat-y scroll 0 0;
    margin: 0 auto;
    padding: 30px 15px;
    width: 960px;
}

#content {
    float: right;
    width: 660px;
    margin: 0;
    padding-left: 20px;
    border-left: 1px solid #ddd;
}


/*-------------------------------*/

#accordion {
    width: 278px;
    padding-left: 0;
    float: left;
    border-bottom: 2px solid #999;
}

#accordion li {
    cursor: pointer;
    font-weight: bold;
    color: #015287;
    margin-bottom: 2px;
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
    padding: 4px 8px;
}

#accordion li.active {
    color: #D15600
}

#accordion li ul {
    padding: 0;
    color: #25BC7B;
    margin: 10px 0 0 0;
}

#accordion li ul a {
    color: #7F0A12;
}

#accordion li ul a:hover {
    color: #F40C1B;
}

#accordion .second {
    font-weight: bold;
}

#accordion li.active li {
    text-indent: 0;
}

#accordion li li {
    font-weight: normal;
    background: none;
    border: 0;
}

.Info {
    background-color: #EF5A09;
    font-weight: bold;
    color: #F2F7F9;
    border: 1px solid #b2b2b2;
    margin-bottom: 2px;
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    padding: 4px 8px;
}

#special-head {
    width: 270px;
    padding-left: 10px;
    padding-bottom: 20px;
    padding-top: 20px;
}


/*----------------------------------*/


/*
.sidebar {
	width: 260px;
	padding: 0;
	float: left;
}


.sidebar ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.sidebar ul li.selected {
	margin-bottom: 20px;
	line-height: 1.2em;
	font-weight:bold;

}

.sidebar li ul li.selected {
	display: block;
	border-top: none;
	padding: 6px 7px;
	margin: 0;
	line-height: 1.5em;
	font-size: 14px;
	color: #0033FF;
	font-weight:bold;
}

.sidebar li ul li a.selected{
	font-weight: bold;
	font-size: larger;
	color: #0066FF;
	
}

.sidebar li ul.blocklist {
	margin-left: 10px;
}

.sidebar li ul.blocklist li {
	padding: 0;
	display: inline;
}
.sidebar li ul.subjects { padding-left: 0; list-style: none; }
.sidebar li ul.pages { padding-left: 2em; list-style: square; }
.sidebar li ul.blocklist li a {
	display: block;
	padding: 7px 13px;
	background: transparent url('../images/list-icon.jpg') no-repeat scroll left center;
	color: #297AB1;
	text-decoration: none;
}

.sidebar li ul.blocklist li a:hover {
	color: #000;
	background-image: url('../images/list-icon-hover.jpg');
}

.sidebar li ul li a:hover {
	color: #1C5D87;
	font-size: 1.5em;
}

.sidebar h4 {
	color: #333;
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 18px;
	letter-spacing: 0;
	margin: 0;
	padding: 5px 3px;
	font-weight: normal;
}
*/

.clear {
    clear: both;
}

#footer {
    width: 990px;
    margin: 0 auto;
}

.footer-content {
    background: #666666 none repeat-x scroll top left;
    padding: 0px 0px;
}

#footer p {
    text-align: center;
    color: #fff;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

#footer p a {
    font-weight: bold;
    color: #fff;
}

.link {
    color: blue;
    font-weight: bold;
    padding-left: 500px;
}


/* ------------------------ */

input.formbutton {
    border: none;
    background: #2783C0 url('../images/headerbg.jpg') repeat-x scroll bottom left;
    color: #ffffff;
    font-weight: bold;
    padding: 6px 10px;
    font-size: 12px;
    font-family: Tahoma, Geneva, sans-serif;
    letter-spacing: 1px;
    width: auto;
    overflow: visible;
    margin: 0.5em 0 0.5em 0;
}

.cust-reviews ul li {
    clear: both;
    display: block;
    list-style-type: none;
    text-align: justify;
    position: relative;
    color: #2D1F1F;
    float: left;
    margin-right: 1em;
    margin-top: 1em;
    margin-left: 1em;
    width: auto;
}

img {
    padding-right: 20px;
    padding-bottom: 20px;
    float: left;
    width: 40%;
    height: 20%
}

#sidebar {
    width: 280px !important;
}